    .people { background: pink;
            width: 400px;
            height: 400px;
            border: 3px dashed green;
            border-radius: 5%;
            padding: 20px;
            font-size: 22px;
            color: red;
            margin: 30px 20px 20px 30px;
    }
    .people a {
        color: blue;
    }
    .people:hover { background: greenyellow;}
    a {color:red; text-decoration: none;}
    a:hover {text-decoration: underline;}   

    html{
        height: 200%;
    }
 body {background-image: linear-gradient(turquoise, purple);
        background-size: 100%;
        background-repeat: no-repeat;
    }
